{
    "extends": "airbnb",
    "plugins": [
        "html"
    ],
    "rules": {
        "standard/object-curly-even-spacing": 0,
        "indent": [
            2,
            4
        ],
        "no-param-reassign": [
            "error",
            {
                "props": false
            }
        ],
        "arrow-body-style": [
            "error",
            "always"
        ]
    },
    "globals": {
        "bridge": true,
        "chrome": true
    }
}
